<?php

//-- border radius
border-radius:10px;
-webkit-border-radius:10px;
-moz-border-radius:10px;
	
//-- Shadow: Box
-webkit-box-shadow:1px 0 3px #999;
-moz-box-shadow:1px 0 3px #999;
box-shadow:1px 0 3px #999;
	
//-- Shadow: Text
text-shadow: 2px 2px 2px #9e9b9e;
filter: dropshadow(color=#9e9b9e, offx=3, offy=3);

//-- import
@import url( 'filename.css');

//-- opacity
opacity:.9;

//-- Transform: Uppercase
text-transform: uppercase;
