<?php

//-- Event: Add Event Listener
// event_type: deviceready, online, offline, backbutton, menubutton
document.addEventListener("event_type", HandlerFunction, false);

//-- System: Get Application Path
var path = window.location.pathname;

//-- System: Get Application Path (Function)
function getPhoneGapPath() 
{
    var path = window.location.pathname;
    path = path.substr( path, path.length - 10 );
    return 'file://' + path;
};
