<?php

//-- _init import
from flask import Flask, render_template, session, request, json, abort, g

//-- app.route
@app.route('/', methods=['GET', 'POST'])  

//-- config-get
app.config['YOUR_VARIABLE']

///-- template render
return render_template('template.html')
	
