<?php
//-- URL Post
$args[ "url"] = $lsURL;
$args[ "data"] = $laData;
$aResult = MyAksi_Util::urlPOST( $args);

//-- URL Go
MyAksi_Util::GoToURL( $lsURL);

//-- ajax: if not internal call, reload
if ( !MyAksi_Util::isInternalCall( )) {
	$sURL = System::getBaseURL() . MyAksi_Util::url( $this->name, 'yourtype', 'yourfunction');
	return MyAksi_Util::GoToURL( $sURL);
}

//-- ajax: isAjax
$bAjax = MyAksi_Util::isAjax( );
